
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,100&family=Josefin+Slab:ital,wght@1,300&family=Raleway:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,100&family=Josefin+Slab:ital,wght@1,300&family=Raleway:wght@700&display=swap');
nav{
    position: fixed;
    top: 0;
    color: white;
    background-color: black;
   opacity: 0.5;
   width: 100%;
   padding-left: 150px;
   text-align: left;
   font-family: 'Hachi Maru Pop', cursive;

}
.text1{
    text-align: center;
      
   padding-top: 220px;
   color: white;
   font-family: 'Hachi Maru Pop', cursive;

}
.text1 h1 {
    font-size: 5em;
}


.text1 p {
    font-size: 2em;
}
.page-header{
   
    background-image: url("images/rest.jpg") ;
    height: 500px; /* You must set a specified height */
    background-repeat: no-repeat;
  background-size: 100% 500px;
  
}
.text2{
    padding-top: 80px;
    text-align: center;
    color: rgb(56, 53, 53);
    font-family: 'Sofia', cursive;
    

}
.text2 h1{
    font-weight: bolder;
    font-size: 2.5em;
}
.text2 p{
    font-size: 2em;
}
ul{
    padding-top: 80px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
}
li{
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
   
}
li a {
     color: gray;
     font-family:  'Raleway',sans-serif;
    }
hr{
    height:2px;
    border-width:0;color:gray;background-color:orange;
    width: 25%;
    margin-bottom: 100px;
}
/*******************************************************/
.content{
    margin-top: 40px;;
    margin-bottom: 100px;;
}
.content h3{
    font-size: 18px;
    font-family:  'Raleway',sans-serif;
    font-weight: bolder;
    padding-top: 3px;
}
span{
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;    font-weight: bolder;
}
.content p{
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
        color: #828281;

}

.col-md-6{
    padding: 10px;
}
.clickable{
    cursor: pointer;

}
footer{
    text-align: center;
    background-color: #1c1c1e;
    height: 50px;
    color: blanchedalmond;
}
footer p {
   padding-top: 10px;
    font-family: 'Josefin Sans', sans-serif;

}
a:hover{
    color: orangered;
}
.dotted-bg {
    border-top: dotted 2px #ccc;
    position: absolute;
    left: 0;
    top: 25px;
    margin-left: 200px;
    width: 45%;
    z-index: -1;
}

  @media screen and (max-width: 767px) {
    li{
        display: inline;
        margin-left: 6px;
        margin-right: 6px;
        font-size: 12px;
       
    }
    .content h3{
        font-size: 16px;
        font-family:  'Raleway',sans-serif;
        font-weight: bolder;
    }
    .content p{
        font-size: 13px;
        font-family: 'Josefin Sans', sans-serif;
        color: #828281;
    
    }
    span{
        font-size: 18px;
        font-family: 'Josefin Sans', sans-serif;    font-weight: bolder;
    }
    .col-md-6{
        margin: 0px 30px;
    }
    .dotted-bg {
        border-top: dotted 2px #ccc;
        position: absolute;
        left: 0;
        top: 25px;
        margin-left: 150px;
        width: 45%;
        z-index: -1;
    }
  }
 